{% extends "base.html.twig" %}

{% block titlebar %}

{% endblock %}

{% block body %}
	<div class="container-fluid accueil">
		{{form_start(form)}}
		<div class="row g-3 ">
			<div class="mb-2">
				<div class="input-group">
					<span class="input-group-text">@ Email</span>
					{{form_widget(form.email)}}
				</div>
			</div>
			<div class='mb-2'>
				<div class='input-group'>
					<span class='input-group-text'>Username</span>
					{{form_widget(form.username)}}
				</div>
			</div>
			{{ form_errors(form.password) }}
			<div class="mb-2">
				<div class="input-group">
					{{form_widget(form.password)}}
					<span class="input-group-text btnpwd" data-btn="newpwd">
						<i class="iconpwd far fa-eye fa-lg"></i>
					</span>
				</div>
			</div>
			{{ form_errors(form.cfpassword) }}
			<div class="mb-2">
				<div class="input-group">
					{{form_widget(form.cfpassword)}}
					<span class="input-group-text btnpwd" data-btn="confpwd">
						<i class="iconpwd far fa-eye fa-lg"></i>
					</span>
				</div>
			</div>
			<button type="submit" class="btn btn-success mx-auto d-block">Valider</button>
		</div>
		{{form_end(form)}}
	</div>
{% endblock %}
