{% extends 'base.html.twig' %}

{% block title %}
<h1 class='col-10'>
	Ajout ligne
</h1>
{% endblock %}

{% block body %}
	<div class="menu cadre">
		<div class="card card-body">
			{{ form_start(form) }}
			<div class="form-row">
				<div class="form-group col-lg-4">
					{{form_row(form.matiere)}}
				</div>
				<div class="form-group col-lg-1">
					{{form_row(form.quantite)}}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-lg-4">
					{{form_row(form.debit)}}
				</div>
				<div class="form-group col-lg-1">
					{{form_row(form.epaisseur)}}
				</div>
			</div>
			<div class='form-row'>
				<div class="form-group col-lg-4">
					{{form_row(form.client)}}
				</div>				
				<div class="form-group col-lg-1">
					{{form_row(form.naf)}}
				</div>
			</div>
		</div>
		<div class='p-4'>
			<input type="submit" name='quit' value='Valider et Quitter' class="btn btn-success"/>
			<input type="submit" name='' value='Debit suivant' class="ml-2 btn btn-success"/>
			<a href="{{ path('appro_index') }}" type="button" class="ml-5 btn btn-danger">Annuler</a>
			{{ form_end(form)}}
		</div>
	</div>
{% endblock %}
