{% extends 'base.html.twig' %}

{% block title %}
	<h1 class='col-10'>Mail Appro Matiere</h1>
	<a href="{{path('acceuil')}}">
		<i class="fas fa-home fa-2x"></i>
	</a>
{% endblock %}

{% block body %}
	<div class="">
		<div class="cadre menu mt-5">
			<a href='{{path('appro_adddebit')}}' type='button' class='btn btn-sm btn-success'>
				<i class="fas fa-plus-square"></i>
				Ajout mat
			</a>
			<a href="#" type='button' class='btn btn-sm btn-success'>
				<i class="fas fa-envelope"></i>
				mail mat
			</a>
			<a href='#' type='button' class='btn btn-sm btn-warning'>
				<i class="fas fa-history"></i>
				Historique mat
			</a>
			<a href='{{ path('config_index') }}' type='button' class='btn btn-sm btn-secondary float-right '>
				<i class="fas fa-tools"></i>
				Configuration
			</a>
		</div>
		<!-- ***** tableau **** -->
		<div class="liste cadre">
			{# <pre>
				{{ dump(debit) }}
			</pre> #}
			{% for mail in debit %}
				<ul>
					<li><em><strong>Famille : </strong></em>
					{{ mail.famille.nomfamille }}</li>
					<li><em><strong>Nuance :</strong></em>
					{{ mail.nuance.name }}</li>
					<ul>
						<li><em><strong>Debits</strong></em></li>
						<ul>
							{% for matiere in mail.debits %}
								<li>{{ matiere.matiere}}</li>
							{% endfor %}
						</ul>
					</ul>
					<ul>
						<li><em><strong>Contacts</strong></em></li>
						<ul>
							{% for fourn in mail.fournisseurs %}
								{% for contact in fourn.contacts %}
									{% if contact.statut == "OK" %}
										<li>{{ contact.mail }}</li>
									{% endif %}
								{% endfor %}
							{% endfor %}
						</ul>
					</ul>
				</ul>
				<p class='my-auto'>----------------------------------------------------------------------</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="{{asset('js/appro.js')}}"></script>
{% endblock %}
