{% extends 'base.html.twig' %}

{% block title %}
	<h1 class='col-10'>Mail Appro Matiere</h1>
	<a href="{{path('appro_index')}}">
		<i class="fas fa-backward fa-2x"></i>
	</a>
{% endblock %}

{% block body %}
	<div class="">
		<div class="cadre menu mt-5">
			<a href="{{path('appro_index')}}" type='button' class='btn btn-sm btn-primary'>
				<i class="fas fa-arrow-alt-circle-left"></i>
				Retour
			</a>
			<a href='{{path('appro_appromail', {'send': 'send'})}}' type='button' class='btn btn-sm btn-success'>
				<i class="fas fa-paper-plane"></i>
				Envoyer
			</a>
			{# <a href='#' type='button' class='btn btn-sm btn-warning'>
										<i class="fas fa-history"></i>
										Historique mat
									</a> #}
			{# <a href='{{ path('config_index') }}' type='button' class='btn btn-sm btn-secondary float-right '>
										<i class="fas fa-tools"></i>
										Configuration
										</a> #}
		</div>
		<!-- ***** tableau **** -->
		<div class="liste cadre">
			{% if msg == false %}
				{% set cont = 1 %}
				{% for mail in debit %}
					<h4 class="ml-3">
						Mail
						{{ cont }}
					</h4>
					<ul>
						<li>
							<em>
								<strong>Fournisseur :
								</strong>
							</em>
							{{ mail.fournisseur.nom}}</li>
						<ul>
							<li>
								<em>
									<strong>Contacts</strong>
								</em>
							</li>
							<ul>
								{% for mail in mail.adressmails %}
									<li>{{ mail.nom}}=>{{ mail.mail}}</li>
								{% endfor %}
							</ul>
						</ul>
						<ul>
							<li>
								<em>
									<strong>Matieres</strong>
								</em>
							</li>
							<ul>
								{% for mat in mail.debits %}
									<li>{{ mat.matiere }}</li>
								{% endfor %}
							</ul>
						</ul>
					</ul>
					{%  set cont = cont+1 %}
				{% endfor %}
				<div class="card text-white bg-danger rounded m-3 p-3 shadow">
					{% if defaut.notype %}
						<p class ="lead"><u>Nuance ou famille introuvable :</u></p>
						<ul>
							{% for notype in defaut.notype %}
								<li>{{notype.matiere}}</li>
							{% endfor %}
						</ul>
					{% endif %}
					{% if defaut.nofourn %}
						<p class="lead"><u>Fournisseur introuvable :</u></p>
						<ul>
							{% for nofourn in defaut.nofourn %}
								<li>{{nofourn.matiere}}</li>
							{% endfor %}
						</ul>
					{% endif %}
					{% if defaut.nocontact %}
						<p class="lead"><u>Pas de contact :</u></p>
						<ul>
							{% for nocontact in defaut.nocontact %}
								<li>{{nocontact.nom}}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			{% else %}
				<h2 class="text-center">
					{{msg}}
				</h2>
			{% endif %}

		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="{{asset('js/appro.js')}}"></script>
{% endblock %}
