{% extends 'base.html.twig' %}

{% block title %}
	<h1 class='col-10'>Mail Appro Matiere</h1>
	<a href="{{path('appro_index')}}">
		<i class="fas fa-backward fa-2x"></i>

	</a>
{% endblock %}

{% block body %}
	<div class="">
		<div class="cadre menu mt-5">
			<a href='{{path('appro_index')}}' type='button' class='btn btn-sm btn-success'>
				<i class="fas fa-paper-plane"></i>
				Envoyer
			</a>
			{# <a href="#" type='button' class='btn btn-sm btn-success'>
							<i class="fas fa-envelope"></i>
							mail mat
						</a> #}
			<a href='#' type='button' class='btn btn-sm btn-warning'>
				<i class="fas fa-history"></i>
				Historique mat
			</a>
			{# <a href='{{ path('config_index') }}' type='button' class='btn btn-sm btn-secondary float-right '>
							<i class="fas fa-tools"></i>
							Configuration
						</a> #}
		</div>
		<!-- ***** tableau **** -->
		<div class="liste cadre">
			{% if msg == false %}
				{% set cont = 1 %}
				{% for mail in debit %}
					<h3 class="ml-3">
						Mail
						{{ cont }}</h3>
					<ul>
						<li>
							<em>
								<strong>Fournisseur :
								</strong>
							</em>
							{{ mail.fournisseur.nom}}</li>
						<ul>
							<li>
								<em>
									<strong>Contacts</strong>
								</em>
							</li>
							<ul>
								{% for mail in mail.adressmails %}
									<li>{{ mail.nom}}
										=>
										{{ mail.mail}}</li>
								{% endfor %}
							</ul>
						</ul>
						<ul>
							<li>
								<em>
									<strong>Matieres</strong>
								</em>
							</li>
							<ul>
								{% for mat in mail.debits %}
									<li>{{ mat.matiere }}</li>
								{% endfor %}
							</ul>
						</ul>
					</ul>
					{% set cont = cont+1 %}
				{% endfor %}
			{% else %}
				<h2 class="text-center">
					{{msg}}</h2>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="{{asset('js/appro.js')}}"></script>
{% endblock %}
