{% extends 'base.html.twig' %}

{% block title %}
	<div class='d-flex justify-content-between'>
	<h1 class='flex-grow-1'>Ajout de fournisseur</h1>
	<a href="{{path('config_fournisseurs')}}" class='align-self-center'>
		<i class="fas fa-backward fa-2x"></i>
	</a>
	</div>
{% endblock %}

{% block body %}
	<div class="menu cadre mt-5">
		<div class="card card-body">
			{{ form_start(formfourn) }}
			<h3> Fournisseur</h3>
			<div class="row">
				<div class="col-lg-1">
					{{form_widget(formfourn.codefour)}}
				</div>
				<div class="col-lg-4">
					{{form_widget(formfourn.nom)}}
				</div>
			</div>
			<h3 class='mt-4'>Contact</h3>
            {{ form_start(formcontact) }}
			<div class='row'>
				<div class="col-lg-4">
					{{form_widget(formcontact.nom)}}
				</div>
				<div class="col-lg-4">
					{{form_widget(formcontact.mail)}}
				</div>
			</div>
			<small>Si aucun contact, laisser vide !!</small>
		</div>
		<div class="p-3">
			<button type="submit" class="ml-5 btn btn-success">Valider !</button>
			<a href="{{ path('config_fournisseurs') }}" type="button" class="ml-5 btn btn-danger">Annuler</a>
		</div>
		{{ form_end(formcontact)}}
		{{ form_end(formfourn)}}
	</div>
{% endblock %}
