{% extends 'base.html.twig' %}

{% block title %}
	<div class='d-flex justify-content-between'>
		<h1 class='flex-lg-grow-1'>Config Appro</h1>
		<a href="{{path('appro_index')}}" class='align-self-center'>
			<i class="fas fa-backward fa-2x"></i>
		</a>
	</div>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="cadre menu mt-5 d-flex justify-content-between">
			<div>
				<a href='{{path('config_fournisseurs')}}' type='button' class="btn btn-sm btn-success">
					<i class="fas fa-id-card"></i>
					Fournisseur |
					<i class="fas fa-user-friends"></i>
					Contact
				</a>
				<a href='{{path('config_familles')}}' type='button' class='btn btn-sm btn-success'>
					<i class="fas fa-tags"></i>
					Famille
				</a>
				<a href="{{path('config_nuances')}}" type='button' class='btn btn-sm btn-success'>
					<i class="fas fa-tags"></i>
					Nuance
				</a>
				<a href='#' type='button' class='btn btn-sm btn-warning'>
					<i class="fas fa-history"></i>
					Autre
				</a>
			</div>
			<div>
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="recup" data-bs-toggle="dropdown" aria-expanded="false">
						Import
					</button>
					<ul class="dropdown-menu" aria-labelledby="recup">
						<li><a class="dropdown-item" href="{{path('config_recupfournisseur')}}">Import Fournisseurs/Contacts</a></li>
						<li><a class="dropdown-item" href="{{path('config_recupfamille')}}">Import Familles</a></li>
						<li><a class="dropdown-item" href="{{path('config_recupnuance')}}">Import Nuances</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="liste cadre">
			{% if liste %}
				<p>un truc</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
