{% extends 'base.html.twig' %}

{% block title %}
	<h1>Corbeille Dossier T</h1>
{% endblock %}

{% block body %}
	<!-- *****	Barre de menu **** -->
	<div class='fixe'>
		<div class="menu cadre">
			<div class='d-flex justify-content-between'>
				<div class=''>
				<a href="{{path('dossiert')}}" type='button' class='btn btn-sm btn-primary'>
					<i class="fas fa-arrow-alt-circle-left"></i>
					Retour
				</a>
				</div>
			</div>
		</div>
	</div>
	<!-- ***** tableau **** -->
	<div class='scroll-tab'>
		<div class="liste cadre">
			<table class="table table-striped table-sm ">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Dossier
							<a href="{{path('dossiert', {'try':'nu123'})}}" type='button' class='icon' data-toggle='tooltip' data-placement="top" title='Ordre croissant'>
								<i class="fas fa-caret-square-down"></i>
							</a>
							<a href="{{path('dossiert', {'try':'nu321'})}}" type='button' class='icon' data-toggle='tooltip' data-placement="top" title='Ordre décroissant'>
								<i class="fas fa-caret-square-up"></i>
							</a>
						</th>
						<th scope="col">Plan</th>
						<th scope="col">3D</th>
						<th scope="col">Client
							<a href=" {{path('dossiert', {'try':'cl123'} )}}" type='button' class='icon' data-toggle='tooltip' data-placement="top" title='Ordre croissant'>
								<i class="fas fa-caret-square-down"></i>
							</a>
							<a href=" {{path('dossiert', {'try':'cl321'} )}}" type='button' class='icon' data-toggle='tooltip' data-placement="top" title='Ordre décroissant'>
								<i class="fas fa-caret-square-up"></i>
							</a>
						</th>
						<th scope="col">Référence pièce</th>
						<th scope="col">Indice</th>
						<th scope="col">Désignation pièce</th>
						<th scope="col">Date de création
							<a href="{{path('dossiert', {'try':'dc123'})}}" type='button' class='icon' data-toggle='tooltip' data-placement="top" title='Ordre croissant'>
								<i class="fas fa-caret-square-down"></i>
							</a>
							<a href="{{path('dossiert', {'try':'dc321'})}}" type='button' class='icon' data-toggle='tooltip' data-placement="top" title='Ordre décroissant'>
								<i class="fas fa-caret-square-up"></i>
							</a>
						</th>
						{% if app.user %}
							<th scope="col">Actions</th>
						{% endif %} 
					</tr>
				</thead>
				<tbody>
					{% for liste in listes %}
						<tr>
							<th scope="row">
								T{{ liste.numdossier}}
							</th>
							<td>
								{% if liste.plan %}
									<a href="{{asset('dossier/plan/' ~ liste.plan)}}" target='_blank' class='btn' type='button'>
										<i class="fas fa-drafting-compass fa-lg text-primary"></i>
									</a>
								{% endif %}
							</td>
							<td>
								{% if liste.step %}
									<a href="{{asset('dossier/3D/' ~ liste.step)}}" class='btn' type='button' downdload='{{ liste.step }}'>
										<i class="fab fa-unity fa-lg text-primary"></i>
									</a>
								{% endif %}
							</td>
							<td>{{ liste.client }}</td>
							<td>{{ liste.refpiece }}</td>
							<td>{{liste.ind}}</td>
							<td>{{ liste.desigpiece }}</td>
							<td>{{ liste.datecreat|date('d/m/Y') }}</td>
							{% if app.user %}
								<td>
									<a href="{{ path('update', {'id': liste.id}) }}" class="btn btn-sm">
										<i class="fas fa-pencil-alt fa-lg text-success"></i>
									</a>
									<a href="#" class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#del{{liste.id}}">
										<i class="fas fa-trash-alt fa-lg text-danger "></i>
									</a>
								</td>
							{% endif %}
						</tr>
						<!-- **** Modal suppression ligne **** -->
						<div class="modal fade" id="del{{liste.id}}" tabindex="-1" aria-labelledby="del" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-body">
										<h6>Suppression !!!</h6>
										<h6>Etes-vous sûr de vouloir supprimer le dossier N°
																						T{{liste.numdossier}}
										</h6>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">
											Annuler</button>
										<a href="{{ path('delete', {'id' : liste.id}) }}" type="button" class="btn btn-danger btn-sm">
											Supprimer !!</a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}