{% extends 'base.html.twig' %}

{% block title %}
	<h1>Liste des Prog</h1>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="cadre menu mt-5">
			<div class="align-items-center d-flex">
				<div class="dropdown">
					<a class="ms-1 btn btn-sm btn-primary dropdown-toggle" href="#" role="button" id="dropdownlist" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fas fa-list-ol"></i>
						Liste des Prg
					</a>
					<ul class="dropdown-menu" aria-labelledby="dropdownlist">
						<li>
							<a class="dropdown-item" href="{{ path('listeprog', {'mac' : 'fraise'}) }}">Fraisage</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('listeprog', {'mac' : 'tour'}) }}">Tournage</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('listeprog',{'mac' : 'all'}) }}">Tous Prg</a>
						</li>
					</ul>
				</div>
				<a href="#" type='button' class='ms-1 btn btn-sm btn-primary'>
					<i class="fas fa-search"></i>
					Rechercher PRG
				</a>
				<a href='#' type='button' class='ms-1 btn btn-sm btn-warning'>
					<i class="fas fa-history"></i>
					Autre
				</a>
			</div>
		</div>
	</div>
	<div class="cadre d-flex row g-3">
		<div class='col-2'>
			<div class="liste overflow-auto">
				<div class="form-floating p-2">
					<input type="text" class="form-control" id="searchclient" placeholder="Client">
					<label for="searchclient">Client</label>
				</div>
				<div class="liste">
					<ul>
					{% for client in clients %}
						<li>{{client}}</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="col-10">
			<div class="liste overflow-auto">
				{% if listes %}
					<table class="table table-striped table-secondary table-sm ">
						<thead class="table-dark">
							<tr>
								<th scope="col">Num Prog</th>
								<th scope="col">Client</th>
								<th scope="col">Référence pièce</th>
								<th scope="col">Indice</th>
								<th scope="col">Désignation pièce</th>
								<th scope="col">Plan/3D</th>
								<th scope="col">Date de création</th>
							</tr>
						</thead>
						<tbody>
							{% for liste in listes %}
								<tr>
									<th scope="row">{{ liste.numprog}}</th>
									<td>{{ liste.client }}</td>
									<td>{{ liste.refpiece }}</td>
									<td>{{liste.ind}}</td>
									<td>{{ liste.desigpiece }}</td>
									<td>
										{% if liste.plan %}
											<a href="{{asset('meca/plan/' ~ liste.plan)}}" target='_blank' class='btn' type='button'>
												<i class="fas fa-drafting-compass fa-lg text-primary"></i>
											</a>
										{% endif %}

										{% if liste.step %}
											<a href="{{asset('meca/3D/' ~ liste.step)}}" class='btn' type='button' downdload='{{ liste.step }}'>
												<i class="fab fa-unity fa-lg text-primary"></i>
											</a>
										{% endif %}
									</td>
									<td>{{ liste.datecreat|date('d/m/Y') }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="{{asset('js/progmeca.js')}}"></script>
{% endblock %}
