{% extends 'base.html.twig' %}

{% block title %}
	<h1>Liste des Prog {{mac}}</h1>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="cadre menu mt-5">
			<div class="align-items-center d-flex">
				<div class="dropdown">
					<a href="{{ path('fraisage')}}" type='button' class='ms-1 btn btn-sm btn-primary'>
						<i class="fas fa-plus"></i>
						Ajouter Prg
					</a>
					<a class="ms-1 btn btn-sm btn-primary dropdown-toggle" href="#" role="button" id="dropdownlist" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fas fa-list-ol"></i>
						Liste des Prg
					</a>
					<ul class="dropdown-menu" aria-labelledby="dropdownlist">
						<li>
							<a class="dropdown-item" href="{{ path('listeprog', {'mac' : 'fraise'}) }}">Fraisage</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path('listeprog', {'mac' : 'tour'}) }}">Tournage</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('listeprog',{'mac' : 'all'}) }}">Tous Prg</a>
						</li>
					</ul>
				</div>
				<a href="{{ path('searchmeca')}}" type='button' class='ms-1 btn btn-sm btn-primary'>
					<i class="fas fa-search"></i>
					Rechercher PRG
				</a>
				<a href='#' type='button' class='ms-1 btn btn-sm btn-warning'>
					<i class="fas fa-history"></i>
					Autre
				</a>
			</div>
		</div>
	</div>
	<div class="cadre d-flex row g-3">
		<div class='col-2'>
			<div class="liste overflow-auto">
				<div class="text-center bg-secondary bg-gradient text-white m-3 rounded-pill">
					<h4>Liste clients</h4>
				</div>
				<div class="liste">
					<ul>
					{% for client in clients %}
						<li class="client" data-mac='{{mac}}'>{{client}}</li>
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="col-10">
			<div class="liste overflow-auto">
				{% if listes %}
					{% include "progmeca/include_table.html.twig" %}
				{% endif %}
			</div>
		</div>
	</div>
	<template id="ligne">
		<tr class="ligne">
			<th scope="row"></th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>
				<a href="" target='_blank' class='btn plan' type='button'>
					<i class="fas fa-drafting-compass fa-lg text-primary"></i>
				</a>
				<a href="" class='btn step' type='button' downdload=''>
					<i class="fab fa-unity fa-lg text-primary"></i>
				</a>
			</td>
			<td></td>
		</tr>
	</template>

{% endblock %}

{% block script %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="{{asset('js/filtremeca.js')}}"></script>
{% endblock %}
